
pyresparser
streamlit
pafy
pymysql
streamlit-tags
nltk
python-docx
fpdf
comtypes
pdfplumber
pywin32
python-docx
mysql-connector-python
google-generativeai

pymupdf
pdfminer.six
Pillow
streamlit-authenticator
PyPDF2
streamlit-option-menu
python-dotenv
